* {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
}

#board {
  width: 700px;
  height: 700px;
  margin: 20px auto 0px auto;
  border: 1px solid black;
}

.square {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  line-height: 50px;
  font-size: 30px;
  box-sizing: border-box;
  font-weight: bold;
}

.square:hover {
  background-color: salmon;
  cursor: default;
}

#rack {
  margin: 20px;
}

.selected, .chosen {
  background-color: skyblue;
}

#content {
  text-align: center;
}

.hide {
  display: none;
}

button {
  font-size: 1.25em;
}

table {
  display: inline-block;
}

.active {
  background-color: skyblue;
}
