* {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
}

#board {
  width: 700px;
  height: 700px;
  margin: 20px auto 0px auto;
  border: 1px solid black;
}

.square {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  line-height: 50px;
  font-size: 30px;
  box-sizing: border-box;
  font-weight: bold;
  background-color: #FFEB3B;
}

.square:hover {
  background-color: #673AB7;
  cursor: default;
}

#rack .square {
  background-color: #FF5722;
  color: #FFFFFF;
}

#rack .square:hover {
  background-color: #673AB7;
  cursor: default;
}

#rack {
  margin: 20px;
}

.selected {
  background-color: skyblue;
}

#content {
  text-align: center;
}

.hide {
  display: none;
}

button {
  font-size: 1.25em;
}

table {
  display: inline-block;
}

.active {
  background-color: skyblue;
}

.tile {
  background-color: #FF5722;
  color: #FFFFFF;
}

.operation {
  background-color: #2196F3;
  color: #BBDEFB;
}

.square.2x {
  background-color: #4CAF50;
  color: #C8E6C9;
}

.square.3x {
  background-color: #F44336;
  color: #FFCDD2;
}
